body{
    background-color: rgb(176, 230, 238);
}

.container{
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 1450px;
    display: flex;
    position: relative;
}


.rightimage img{
    height: 250px;
    width: 480px;
    position: absolute;
    right: 0;
    top: 0;
    margin:10px;
}


.para2{
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgb(197, 135, 220);
    position: absolute;
    height: 200px;
    width: 33%;
    top: 300px;
    left: 33%;
}


.para1{justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(125, 140, 200);
    position: absolute;
    height: 200px;
    width: 32%;
    top: 550px;
    left: 0;
    margin:15px;

}