html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.header{

    text-align: center;
    justify-content: center;
    background-color: rgb(52, 223, 72);
    height: 70px;
    position:sticky;
    top: 0;
    z-index:100;
}


.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9{
    width:400px;
    height: 300px;
    margin-left:20px;
    margin-right: 20px;
    transition: transform 0.5s;
}
.row1{
    margin-top:50px;
}
.row2,.row3{
    margin-top: 30px;
}

.image1:hover,.image2:hover,.image3:hover,.image4:hover,.image5:hover,.image6:hover,.image7:hover,.image8:hover,.image9:hover{
    transform:scale(1.2);
}

/* .footer{
    padding-top: 30px;
    text-align: center;
    height: 50px;
} */
